<div>

    <div>
        {{#if userData}}
            <p class="subtitle-3">Hola {{userData.name}}, bienvenido!</p>
            <p>El rol que posee es: {{userData.rol}}</p>
            <a href="/profile"> <button class="button">Ir a tu perfil!</button> </a>
            <br>
        {{/if}}
    </div>

    <div id="productsContainer" class="productsConatiner">
        {{#each product}}
            <div class="box product"> 
                <h5 class="title is-5 has-text-grey-dark">{{this.title}}</h5> 
                <img src="{{this.thumbnail}}" alt="{{this.title}}"> 
                <button type="button" class="btn btn-outline-secondary buttonDetails" data-details-id="{{this._id}}">Detalles</button> 
                <button type="button" class="btn btn-outline-success buttonAddToCart" data-product-id="{{this._id}}">Agregar al carrito</button>
            </div>
        {{/each}}
    </div>

    <div>
        {{#if hasPrevPage}}
            <button type="button" class="btn btn-outline-primary"> <a href="{{prevLink}}">Página anterior</a> </button> 
        {{/if}}

        {{#if hasNextPage}}
            <button type="button" class="btn btn-outline-primary"> <a href="{{nextLink}}">Página siguiente</a> </button>
        {{/if}}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/products.js"></script>