<main class="container">
    <div>
        <form action="/api/products"  id="createProductForm">
            <div>
                <label for="title" class="label">Titulo</label>
                <input type="text" name="title"/>
            </div>
            <div>
                <label for="category" class="label">category</label>
                <input type="text" name="category"/>
            </div>
            <div>
                <label for="description" class="label">description</label>
                <input type="text" name="description"/>
            </div>
            <div>
                <label for="price" class="label">price</label>
                <input type="text" name="price"/>
            </div>
            <div>
                <label for="code" class="label">code</label>
                <input type="text" name="code"/>
            </div>
            <div>
                <label for="stock" class="label">stock</label>
                <input type="text" name="stock"/>
            </div>
            <button id="createProductButton" type="submit" class="button">Crear producto</button>
        </form>
    </div>

    <div id="productsContainer">

        {{#each products}}
        <div class="box">
            <p>Titulo: {{this.title}}</p>
            <p>Categoria: {{this.category}}</p>
            <p>Descripción: {{this.description}}</p>
            <p>{{this.thumbnail}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Precio: ${{this.price}}</p>
            <button id="deleteButton_{{this.id}}" class="deleteProduct"> Borrar </button>
        </div>
        {{/each}}

    </div>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>

