<main class="container">
    <div>
        <form action="/api/products"  id="createProductForm">
            <div>
                <label for="title" class="label">Titulo</label>
                <input type="text" name="title"/>
            </div>
            <div>
                <label for="category" class="label">category</label>
                <input type="text" name="category"/>
            </div>
            <div>
                <label for="description" class="label">description</label>
                <input type="text" name="description"/>
            </div>
            <div>
                <label for="price" class="label">price</label>
                <input type="text" name="price"/>
            </div>
            <div>
                <label for="code" class="label">code</label>
                <input type="text" name="code"/>
            </div>
            <div>
                <label for="stock" class="label">stock</label>
                <input type="text" name="stock"/>
            </div>
            <button id="createProductButton" type="submit" class="button">Crear producto</button>
        </form>
    </div>

    <div id="productsContainer" class="productsConatiner">

        {{#each data}}
        <div class="box product">
            <p>{{this.title}}</p>
            <p>{{this.category}}</p>
            <p>{{this.description}}</p>
            <p>{{this.thumbnail}}</p>
            <p>{{this.stock}}</p>
            <p>${{this.price}}</p>
            <button id="deleteButton_{{this.id}}" class="deleteProduct"> Borrar </button>
        </div>
        {{/each}}

        {{!-- Para borrar caputar el id por mongoose.find({titulo}) o borrar directamente buscando el titulo --}}

    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>

